* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e4ba8a;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 1vw;
    text-align: center;
}

#periodic-table {
    background-color: #FEFEFE;
    margin: 1vw;
    height: 85vw;
    border: 1px solid #000;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 1fr repeat(15, 2fr);

    /* the gaps are possible, but not intended
    column-gap: 2px;
    row-gap: 2px; */

    font-weight: bold;
    font-size: 1.5vw;
}

/* General cell properties */
div {
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    /* if there is a gap between cells, all-side border is necessary */
    /* border: 1px solid #888; */

    display: grid;
    /* center content of cells by default */
    place-content: center center;

}

div.a-element, div.b-element {
    /* grid templates to present element properties */
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 2.0fr 1fr;

}

/* setting element properties */
.number {
    border: 1px solid #000;
    width: 2vw;
    background-color: #FEFEFE;
    font-size: 1vw;
    text-align: center;
}
.a-element > .atomic > .number {
    margin: 0.3vw 0.3vw 0.3vw auto;
}
.b-element > .atomic > .number {
    margin: 0.3vw auto 0.3vw 0.3vw;
}

.mass {
    font-size: 0.9vw;
    margin: 0.2vw;
} 

.name {
    grid-row: 2;
    grid-column: 2 / span 2;
    font-size: 1.25vw;
}
 .name {
    text-align: left;
}
.b-element > .name {
    text-align: right;
}


/* atomic number and atomic mass */
.a-element > .atomic {
    grid-column: 3;
}
.b-element > .atomic {
    grid-column: 2;
}

.electrons {
    
    font-size: 0.70vw;
    text-align: center;
} 

.a-element > .electrons {
    grid-row: 1 / span 2;
    grid-column: 4;
}

.b-element > .electrons {
    grid-row: 1 / span 2;
    grid-column: 1;
}

.symbol {
    font-size: 2.5vw;
    grid-row: 1;
    margin-top: 0.5vw;
}
.a-element > .symbol {
    grid-column: 2;
}

.b-element > .symbol {
    text-align: right;
    grid-column: 3;
}

/* Classes to merge cells horizontally */
.col-span10 {
    grid-column: span 10;
}

.col-span4 {
    grid-column: span 4;
}

.col-span3 {
    grid-column: span 3;
}

.col-span2 {
    grid-column: span 2;
}

/* Classes to merge cells vertically */
.row-span2 {
    grid-row: span 2;
}

.row-span3 {
    grid-row: span 3;
}

/* Cells background colors */
.bk-green {
    background-color: #84BC30;
}

.bk-yellow {
    background-color: #FFED00;
}

.bk-pink {
    background-color: #ffc0cb;
}

.bk-violet {
    background-color: #b492ce;
}

.bk-pink-yellow {
    background: linear-gradient(45deg, #ffc0cb 0%, #FFED00 100%);
}

.bk-green-yellow {
    background: linear-gradient(45deg, #84BC30 0%, #FFED00 100%);
}